In [ ]:
! apt-get install default-jre
!java -version

Reading package lists... Done
Building dependency tree
Reading state information... Done
default-jre is already the newest version (2:1.11-68ubuntu1~18.04.1).
default-jre set to manually installed.
0 upgraded, 0 newly installed, 0 to remove and 29 not upgraded.
openjdk version "11.0.10" 2021-01-19
OpenJDK Runtime Environment (build 11.0.10+9-Ubuntu-0ubuntu1.18.04)
OpenJDK 64-Bit Server VM (build 11.0.10+9-Ubuntu-0ubuntu1.18.04, mixed mode, sharing)

In [ ]:
! pip install h2o

Collecting h2o
  Downloading https://files.pythonhosted.org/packages/d4/d4/5c07504a392e94786e7cf33554d961ac4b2863aa22a07b8579940ea1f6b5/h2o-3.32.0.4.tar.gz (164.6MB)
     |████████████████████████████████| 164.6MB 31kB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from h2o) (2.23.0)
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (from h2o) (0.8.9)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from h2o) (0.16.0)
Collecting colorama>=0.3.8
  Downloading https://files.pythonhosted.org/packages/44/98/5b86278fbbf250d239ae0ecb724f8572af1c91f4a11edf4d36a206189440/colorama-0.4.4-py2.py3-none-any.whl
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (2020.12.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (1.24.3)
Building wheels for collected packages: h2o
  Building wheel for h2o (setup.py) ... done
  Created wheel for h2o: filename=h2o-3.32.0.4-py2.py3-none-any.whl size=164670979 sha256=902a283567d2c29630361123d5466ed146591f428499fa0bc2419401e3a8f272
  Stored in directory: /root/.cache/pip/wheels/65/f4/0d/c9bb958d70c2e015c968cb91cbd7f1b486933056d422337d75
Successfully built h2o
Installing collected packages: colorama, h2o
Successfully installed colorama-0.4.4 h2o-3.32.0.4

In [ ]:
!pip install requests
!pip install tabulate
!pip install future

Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2020.12.5)
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (0.8.9)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (0.16.0)

In [ ]:
import h2o

In [ ]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "11.0.10" 2021-01-19; OpenJDK Runtime Environment (build 11.0.10+9-Ubuntu-0ubuntu1.18.04); OpenJDK 64-Bit Server VM (build 11.0.10+9-Ubuntu-0ubuntu1.18.04, mixed mode, sharing)
  Starting server from /usr/local/lib/python3.7/dist-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmpc2j3kckp
  JVM stdout: /tmp/tmpc2j3kckp/h2o_unknownUser_started_from_python.out
  JVM stderr: /tmp/tmpc2j3kckp/h2o_unknownUser_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ------------------------------------------------------------------
H2O_cluster_uptime:         03 secs
H2O_cluster_timezone:       Etc/UTC
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.32.0.4
H2O_cluster_version_age:    1 month and 4 days
H2O_cluster_name:           H2O_from_python_unknownUser_8pmzmf
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.180 Gb
H2O_cluster_total_cores:    2
H2O_cluster_allowed_cores:  2
H2O_cluster_status:         accepting new members, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.7.10 final
--------------------------  ------------------------------------------------------------------

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving bank.csv to bank.csv

In [ ]:
df = h2o.import_file("bank.csv")
df.head(10)

Parse progress: |█████████████████████████████████████████████████████████| 100%

age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
42,management,single,tertiary,no,0,yes,yes,unknown,5,may,562,2,-1,0,unknown,yes
56,management,married,tertiary,no,830,yes,yes,unknown,6,may,1201,1,-1,0,unknown,yes
60,retired,divorced,secondary,no,545,yes,no,unknown,6,may,1030,1,-1,0,unknown,yes
37,technician,married,secondary,no,1,yes,no,unknown,6,may,608,1,-1,0,unknown,yes
28,services,single,secondary,no,5090,yes,no,unknown,6,may,1297,3,-1,0,unknown,yes

In [ ]:
df.types

{'age': 'int',
 'balance': 'int',
 'campaign': 'int',
 'contact': 'enum',
 'day': 'int',
 'default': 'enum',
 'deposit': 'enum',
 'duration': 'int',
 'education': 'enum',
 'housing': 'enum',
 'job': 'enum',
 'loan': 'enum',
 'marital': 'enum',
 'month': 'enum',
 'pdays': 'int',
 'poutcome': 'enum',
 'previous': 'int'}

In [ ]:
df.describe()

Rows:11162
Cols:17

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
type,int,enum,enum,enum,enum,int,enum,enum,enum,int,enum,int,int,int,int,enum,enum
mins,18.0,,,,,-6847.0,,,,1.0,,2.0,1.0,-1.0,0.0,,
mean,41.23194767962733,,,,,1528.538523562086,,,,15.658036194230418,,371.9938183121304,2.50842142985128,51.33040673714389,0.8325568894463361,,
maxs,95.0,,,,,81204.0,,,,31.0,,3881.0,63.0,854.0,58.0,,
sigma,11.913369192215525,,,,,3225.4133259461505,,,,8.420739541006448,,347.1283857163059,2.7220771816614855,108.75828197197697,2.2920072186705056,,
zeros,0,,,,,774,,,,0,,0,0,0,8324,,
missing,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
0,59.0,admin.,married,secondary,no,2343.0,yes,no,unknown,5.0,may,1042.0,1.0,-1.0,0.0,unknown,yes
1,56.0,admin.,married,secondary,no,45.0,no,no,unknown,5.0,may,1467.0,1.0,-1.0,0.0,unknown,yes
2,41.0,technician,married,secondary,no,1270.0,yes,no,unknown,5.0,may,1389.0,1.0,-1.0,0.0,unknown,yes
3,55.0,services,married,secondary,no,2476.0,yes,no,unknown,5.0,may,579.0,1.0,-1.0,0.0,unknown,yes
4,54.0,admin.,married,tertiary,no,184.0,no,no,unknown,5.0,may,673.0,2.0,-1.0,0.0,unknown,yes
5,42.0,management,single,tertiary,no,0.0,yes,yes,unknown,5.0,may,562.0,2.0,-1.0,0.0,unknown,yes
6,56.0,management,married,tertiary,no,830.0,yes,yes,unknown,6.0,may,1201.0,1.0,-1.0,0.0,unknown,yes
7,60.0,retired,divorced,secondary,no,545.0,yes,no,unknown,6.0,may,1030.0,1.0,-1.0,0.0,unknown,yes
8,37.0,technician,married,secondary,no,1.0,yes,no,unknown,6.0,may,608.0,1.0,-1.0,0.0,unknown,yes
9,28.0,services,single,secondary,no,5090.0,yes,no,unknown,6.0,may,1297.0,3.0,-1.0,0.0,unknown,yes

In [ ]:
train_df, test_df, valid_df = df.split_frame(ratios=[0.7, 0.2])

In [ ]:
y = "deposit"
X = df.columns
X.remove(y)

In [ ]:
!nvidia-smi

NVIDIA-SMI has failed because it couldn't communicate with the NVIDIA driver. Make sure that the latest NVIDIA driver is installed and running.

In [ ]:
from h2o.automl import H2OAutoML
aml = H2OAutoML(max_models = 10, seed = 10, exclude_algos = ["StackedEnsemble", "DeepLearning"], verbosity = "info", nfolds = 10)

In [ ]:
aml.train(x = X, y = y, training_frame=train_df, validation_frame=valid_df)

AutoML progress: |
19:23:26.523: Project: AutoML_20210305_192326518
19:23:26.524: User specified a validation frame with cross-validation still enabled. Please note that the models will still be validated using cross-validation only, the validation frame will be used to provide purely informative validation metrics on the trained models.
19:23:26.525: Setting stopping tolerance adaptively based on the training frame: 0.011328581360736095
19:23:26.525: Build control seed: 10
19:23:26.526: training frame: Frame key: automl_training_py_5_sid_b7e9    cols: 17    rows: 7792  chunks: 8    size: 168457  checksum: 1793824817171889
19:23:26.526: validation frame: Frame key: py_7_sid_b7e9    cols: 17    rows: 1091  chunks: 8    size: 58685  checksum: 1893823859041119
19:23:26.526: leaderboard frame: NULL
19:23:26.526: blending frame: NULL
19:23:26.526: response column: deposit
19:23:26.527: fold column: null
19:23:26.527: weights column: null
19:23:26.567: Loading execution steps: [{XGBoost : defaults}, {GLM : defaults}, {DRF : [def_1]}, {GBM : defaults}, {DeepLearning : defaults}, {DRF : [XRT]}, {XGBoost : grids}, {GBM : grids}, {DeepLearning : grids}, {GBM : [lr_annealing]}, {XGBoost : [lr_search]}, {StackedEnsemble : defaults}]
19:23:26.585: Disabling Algo: StackedEnsemble as requested by the user.
19:23:26.585: Disabling Algo: DeepLearning as requested by the user.
19:23:26.591: AutoML job created: 2021.03.05 19:23:26.518
19:23:26.592: AutoML build started: 2021.03.05 19:23:26.592
19:23:26.608: AutoML: starting XGBoost_1_AutoML_20210305_192326 model training

███
19:23:54.646: New leader: XGBoost_1_AutoML_20210305_192326, auc: 0.9152590139772206
19:23:54.646: AutoML: starting XGBoost_2_AutoML_20210305_192326 model training

██
19:24:19.654: New leader: XGBoost_2_AutoML_20210305_192326, auc: 0.9198742562363785
19:24:19.655: AutoML: starting XGBoost_3_AutoML_20210305_192326 model training

██
19:24:40.668: New leader: XGBoost_3_AutoML_20210305_192326, auc: 0.9268312406332463
19:24:40.671: AutoML: starting GLM_1_AutoML_20210305_192326 model training

███
19:24:57.683: AutoML: starting DRF_1_AutoML_20210305_192326 model training

██
19:25:29.693: AutoML: starting GBM_1_AutoML_20210305_192326 model training

██
19:25:52.709: AutoML: starting GBM_2_AutoML_20210305_192326 model training

█
19:26:12.723: New leader: GBM_2_AutoML_20210305_192326, auc: 0.9279501783710813
19:26:12.724: AutoML: starting GBM_3_AutoML_20210305_192326 model training

███
19:26:34.735: AutoML: starting GBM_4_AutoML_20210305_192326 model training

██
19:26:56.747: AutoML: starting GBM_5_AutoML_20210305_192326 model training

████████████████████████████████████| 100%

19:27:23.769: New leader: GBM_5_AutoML_20210305_192326, auc: 0.9286387783191974
19:27:23.769: Skipping StackedEnsemble 'best' due to the exclude_algos option.
19:27:23.771: Skipping StackedEnsemble 'all' due to the exclude_algos option.
19:27:23.772: Skipping StackedEnsemble 'monotonic' due to the exclude_algos option.
19:27:23.773: Actual modeling steps: [{XGBoost : [def_1 (10), def_2 (10), def_3 (10)]}, {GLM : [def_1 (10)]}, {DRF : [def_1 (10)]}, {GBM : [def_1 (10), def_2 (10), def_3 (10), def_4 (10), def_5 (10)]}]
19:27:23.773: AutoML build stopped: 2021.03.05 19:27:23.773
19:27:23.773: AutoML build done: built 10 models
19:27:23.773: AutoML duration:  3 min 57.181 sec

In [ ]:
lb = aml.leaderboard
lb.head()

model_id,auc,logloss,aucpr,mean_per_class_error,rmse,mse
GBM_5_AutoML_20210305_192326,0.928639,0.330093,0.896078,0.135812,0.318915,0.101707
GBM_2_AutoML_20210305_192326,0.92795,0.33148,0.895142,0.136744,0.319607,0.102149
XGBoost_3_AutoML_20210305_192326,0.926831,0.336677,0.895178,0.142655,0.322485,0.103996
GBM_1_AutoML_20210305_192326,0.926826,0.333789,0.891622,0.136102,0.320525,0.102736
GBM_3_AutoML_20210305_192326,0.926758,0.334192,0.89384,0.136195,0.320611,0.102792
GBM_4_AutoML_20210305_192326,0.925728,0.337377,0.889528,0.139192,0.321791,0.10355
DRF_1_AutoML_20210305_192326,0.921604,0.381364,0.88493,0.13932,0.327333,0.107147
XGBoost_2_AutoML_20210305_192326,0.919874,0.352808,0.886752,0.143523,0.330822,0.109443
XGBoost_1_AutoML_20210305_192326,0.915259,0.364725,0.875916,0.149372,0.335883,0.112817
GLM_1_AutoML_20210305_192326,0.901177,0.41549,0.863766,0.169151,0.356607,0.127168

In [ ]:
prediction = aml.leader.predict(test_df)
prediction.head()

gbm prediction progress: |████████████████████████████████████████████████| 100%

predict,no,yes
yes,0.442739,0.557261
yes,0.169334,0.830666
yes,0.048247,0.951753
yes,0.139686,0.860314
yes,0.0661171,0.933883
yes,0.0661999,0.9338
no,0.628213,0.371787
yes,0.430717,0.569283
no,0.763795,0.236205
yes,0.410571,0.589429

In [ ]:
aml.leader.model_performance(test_df)

ModelMetricsBinomial: gbm
** Reported on test data. **

MSE: 0.10290379576212179
RMSE: 0.32078621504379173
LogLoss: 0.33379790994508063
Mean Per-Class Error: 0.1334906991483279
AUC: 0.926228895170157
AUCPR: 0.8959194686599395
Gini: 0.8524577903403141

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.42135860562695787:

              no     yes   Error             Rate
0     no   963.0   215.0  0.1825   (215.0/1178.0)
1    yes    93.0  1008.0  0.0845    (93.0/1101.0)
2  Total  1056.0  1223.0  0.1351   (308.0/2279.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold        value    idx
0                        max f1   0.421359     0.867470  229.0
1                        max f2   0.195147     0.923960  300.0
2                  max f0point5   0.627480     0.852111  169.0
3                  max accuracy   0.421359     0.864853  229.0
4                 max precision   0.988599     1.000000    0.0
5                    max recall   0.024767     1.000000  378.0
6               max specificity   0.988599     1.000000    0.0
7              max absolute_mcc   0.421359     0.734575  229.0
8    max min_per_class_accuracy   0.536342     0.854839  195.0
9   max mean_per_class_accuracy   0.421359     0.866509  229.0
10                      max tns   0.988599  1178.000000    0.0
11                      max fns   0.988599  1100.000000    0.0
12                      max fps   0.002442  1178.000000  399.0
13                      max tps   0.024767  1101.000000  378.0
14                      max tnr   0.988599     1.000000    0.0
15                      max fnr   0.988599     0.999092    0.0
16                      max fpr   0.002442     1.000000  399.0
17                      max tpr   0.024767     1.000000  378.0

Gains/Lift Table: Avg response rate: 48.31 %, avg score: 48.14 %

    group  cumulative_data_fraction  ...  cumulative_gain  kolmogorov_smirnov
0       1                  0.010092  ...        97.993919            0.019133
1       2                  0.020184  ...        97.993919            0.038266
2       3                  0.030276  ...        97.993919            0.057399
3       4                  0.040369  ...        93.494057            0.073017
4       5                  0.050022  ...        92.467773            0.089485
5       6                  0.100044  ...        94.283506            0.182484
6       7                  0.150066  ...        94.283506            0.273726
7       8                  0.200088  ...        90.198105            0.349154
8       9                  0.300132  ...        87.323194            0.507038
9      10                  0.400176  ...        82.481237            0.638564
10     11                  0.500219  ...        73.220995            0.708590
11     12                  0.599824  ...        60.961406            0.707421
12     13                  0.699868  ...        41.196917            0.557802
13     14                  0.799912  ...        24.673077            0.381825
14     15                  0.899956  ...        11.116529            0.193548
15     16                  1.000000  ...         0.000000            0.000000

[16 rows x 14 columns]